body {
    background-color: aquamarine;
}

body *:not(hr) {
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-top: 30px;
}

hr {
    width: 90%;
    background-color: black;
    border: black solid 3px;
}

div * {
    display: inline;
}